@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: 'Pretendard-Regular';
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none;background: none;cursor: pointer;}

.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #808080;
}
.header .inner{
    width: 1200px;
    height: 80px;
    margin: auto;
}
.header .inner h1{
    float: left;
    /* margin-top: 21px;
    margin-right: 115px; */
    margin: 20px 115px 0 0;
}
.header .inner .gnb{
    float: left;
}
.header .inner .gnb li{
    float: left;
}
.header .inner .gnb li:not(:nth-child(6)){
    margin-right: 40px;
}
.header .inner .gnb .last{
    margin-right: 0;
}
.header .inner .gnb li a{
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #222;
    line-height: 80px;
}
.header .inner .gnb li:hover a{
    color: #005793;
    border-bottom: 3px solid #005793;
}
.header .inner .btnwrap{
    float: right;
}
.header .inner .btnwrap li{
    float: left;
    height: 80px;
    line-height: 80px;
}
.header .inner .btnwrap li:first-child button{
    width: 125px;
    height: 40px;
    background: #005793;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 999px;
}
.header .inner .btnwrap li:last-child button{
    width: 40px;
    height: 40px;
    background: #005793;
    font-size: 16px;
    font-weight:700 ;
    border-radius: 100%;
    color: #fff;
}
.header .inner .btnwrap li:last-child{
    margin-left: 10px;
}