@charset "utf-8";
body{
    font-family: "맑은 고딕","malgin gothic",sans-serif;
}
*{margin: 0;padding: 0;}

.box1{
    width: 708px;
    padding: 35px 27px;
    border: 1px solid #000;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px 30px;
}
.box2{
    width: 708px;
    padding: 35px 27px;
    border: 1px solid #000;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
.text1{
    width: 708px;
    padding: 0 27px;
    border: 1px solid #000;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    line-height: 138px;
    font-size: 46px;
    font-weight: 900;
    background: #F2F2F2;
    text-shadow: 3px 3px red;
}
.text2{
    width: 708px;
    padding: 0 27px;
    border: 1px solid #000;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    line-height: 138px;
    font-size: 46px;
    font-weight: 900;
    background: #000;
    text-shadow: 0 0 10px #fff;
}
.text2 .sp{
    text-shadow: 2px 2px #fff;
}






















