@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}
/* 여백 초기화 */
*{margin: 0;padding: 0;}
a{text-decoration: none;}
button{cursor: pointer;border: none;background:none;}
li{list-style: none;}
img{border: none;display: block;}


/* header영역 */
.header{
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 2px 2px 2px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 18px;
    box-sizing: border-box;
}
.header h1 a{
    display: block;
    background: url("../images/logo.png") no-repeat;
    width: 147px;
    height: 41.5px;
    background-size: 147px 41.5px;
    text-indent: -99999px;
}
.header .menu{
    width: 24px;
    height: 22px;
    background: url("../images/btn_allMenu.png") no-repeat;
    text-indent: -99999px;
    background-size: 24px 22px;
}
.header .search{
    background: url("../images/btn_search.png") no-repeat;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    text-indent: -99999px;
}
/* 메인화면 */
.main{
    width: 100%;
}
/* visual1화면 */
.main .visual{
    width: 100%;
}
.main .visual img{
    width: 100%;
}
/* section1 */
.main .section1{
    padding: 48px 0;
    background: #ecebe9;
}
.main .section1 h2{
    font-size: 26px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.main .section1 h2 span{
    color: #ea4e11;
}
.main .section1 ul{
    width: 380px;
    /* background: gold; */
    margin: auto;
    display: flex;
}
.main .section1 ul li{
    width: 50%;
    height: 135px;
    /* background: blueviolet; */
    position: relative;
    text-align: center;
}
.main .section1 ul li:last-child::after{
    display: none;
}
/* 구분선 */
.main .section1 ul li::after{
    content:"";
    background: #e0dfdd;
    width: 1px;
    height: 73px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top:-36.5px;
}
.main .section1 ul li:first-child a{
    background: url("../images/btn_free01.png") no-repeat center 0;
    background-size: 77px;
}
.main .section1 ul li:last-child a{
    background: url("../images/btn_free02.png")no-repeat center 0;
    background-size: 77px;
}
.main .section1 ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.main .section1 ul li a h4{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.main .section1 ul li a h4 em{
    color: #67616f;
}
.main .section1 ul li a p{
    font-size: 14px;
    font-weight: 400;
    color: #67616f;
}

/* section2 */
.main .section2{
    padding: 52px 0;
    background: #fff;
}
.main .section2 ul.tit{
    display: flex;
    width: 379px;
    /* background: gold; */
    margin: auto;
    gap: 10px;
    justify-content: center;
}
.main .section2 ul.tit li{
    width: 109px;
    height: 37px;
}
.main .section2 ul.tit li a{
    display: block;
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    font-weight: 700;
    color:#5d5e58;
    border-radius: 12px;
}
.main .section2 ul.grade{
    width: 379px;
    /* background: gold; */
    margin: 35px auto 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.main .section2 ul li{
    width: 99px;
    height: 48px;
}
.main .section2 ul li a{
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    color: #666;
    font-weight: 600;
    text-align: center;
    line-height: 48px;
}

/* footer */
.footer{
    width: 100%;

}
.footer .family{
    width: 100%;
    height: 48px;
    background: #999999;
    display: flex;
    justify-content: center;
}
.footer .family button{
    width: 120px;
    /* border: 1px solid red; */
    line-height: 48px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: url("../images/btn_plus_white.png") no-repeat 100% center;
    background-size: 10px;
}
.footer ul{
    display: flex;
    width: 100%;
    height: 50px;
    background: #aaa;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.footer ul li{
    position: relative;
}
.footer ul li:last-child::after{
    display: none;
}
.footer ul li::after{
    content:"";
    width: 1px;
    height: 10px;
    background: #fff;
    position: absolute;
    right: -9px;
    top: 50%;
    margin-top: -3px;
}
.footer ul li a{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.footer .copy{
    padding: 30px 0;
    background: #ccc;
    text-align: center;
}
.footer .copy h3{
    font-size: 14px;
    color: #747474;
    margin-bottom: 10px;
}
.footer .copy address{
    font-size: 12px;
    color: #848484;
    font-style: normal;
}
.footer .copy p{
    margin-top: 10px;
    font-size: 12px;
    color: #848484;
    letter-spacing: -1px;
}


