@charset "utf-8";
body{
    font-family: "맑은 고딕","malgin gothic",sans-serif;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-align: center;}
.wrap{
    width: 1200px;
    height: 700px;
    background: gold;
    margin: auto;
}
.wrap .header{
    width: 100%;
    height: 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap .header h1{
    width: 200px;
    height: 100px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap .header ul{
    width: 600px;
    height: 100px;
    background: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap .slide{
    width: 100%;
    height: 300px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap .slide div{
    font-size: 24px;
    font-weight: 900;
}
.wrap .contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap .contents .border{
    width: 400px;
    height: 200px;
    background: blue;
}
.wrap .contents .banner{
    width: 400px;
    height: 200px;
    background: navy;
}
.wrap .contents .go{
    width: 400px;
    height: 200px;
    background: purple;
}
.wrap .footer{
    width: 1200px;
    height: 200px;
    display: flex;
}
.wrap .footer h1{
    width: 200px;
    height: 100px;
    background: gray;
}
.wrap .footer .copymenu{
    width: 1000px;
    height: 100px;
    background: violet;
    text-align:center ;
    font-size: 24px;
    font-weight: 900;
}
.wrap .footer .menu{
    width: 1000px;
    height: 50px;
    background: pink;
    line-height: 50px;
}
.wrap .footer .copy{
    width: 1000px;
    height: 50px;
    background: royalblue;
    line-height: 50px;
}


