@charset "utf-8";
body{

}
*{margin: 0;padding: 0;box-sizing: border-box;}

.wrap{
    /* 박스전체를 가운데 정열 */
    width: 915px;
    /* background: gold; */
    margin: auto;
}
.wrap header{
    width: 100%;
    height: 80px;
    border: 1px solid #000;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.wrap nav{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.wrap main{
    display: flex;
    width: 100%;
    border: 1px solid #000;
    background: #D9D9D9;
    padding: 45px 12px;
    margin-top: 10px;
    justify-content: space-between;
}
.wrap main .sectionwrap{
    width: 570px;
}
    
.wrap main section{
    width: 100%;
    /* height: 150px; */
    border: 1px solid #000;
    background: #fff;
    margin-bottom: 10px;
    padding: 30px;
}
.wrap main section article{
    width: 100%;
    height: 85px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.wrap main aside{
    width: 240px;
    height: 350px;
    border: 1px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap footer{
    width: 100%;
    height: 120px;
    border: 1px solid #000;
    background: #D9D9D9;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



























